:root{
    --dark-color:#3074F0;
    --primary-color:#F7c9d2;
    --light-color:#f5f5f5;
    --success-color:#8f9295;

}

.Products_main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.Product_price{
    font-size: 1.3rem;
    font-weight: 600;
}

.icons i{
    font-size: 1rem;
    padding-right: 0.3rem;
    color: #FFC12B;
}
/* .Product_name{
    font-size: 1.2rem;
    
} */
/* .card-head{
    background: var(--light-color);
} */

.card-head img:hover{
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.05);
}